body{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.about-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
    margin-top: 5em;
}

.about-container p{
    padding: 0 1em;
    width: 95%;
    font-size: 1.5vw;
}

.about-container h2{
    padding: 0 1em;
    font-weight: bold;
    font-size: 2vw;
}

.footer-object{
    position:absolute;
    width: 99%;
    height: 30vh;
    z-index: 998;
}

@media only screen and (max-width: 480px)  {
    .about-container p{
        font-size: 4.5vw;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1350px) {
    .about-container p{
        font-size: 3.5vw;
    }
}


@media only screen and (min-width: 1350px)  {
    .fixed-sidebar-object{
        display: none;
    }
    .fixed-topbar-object{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1; 
    }
    .topbar-artists-open{
        z-index: 999;
    }
}

@media only screen and (max-width: 1350px)  {
    .fixed-sidebar-object {
        position: fixed;
        top: 0;
        right: 0;
        width: 15%;
        height: 10%;
        z-index: 999; 
    }
    .sidebar-open {
        width: min-content;
        height: 100%;
    }
    .about-container{
        margin-top: 1em;
    }
    .about-container h2{
        font-size: 5.5vw;
    }
    .fixed-topbar-object{
        display: none;
    }
}