body {
    font-family: 'Helvetica', 'Arial', sans-seri
}

.sidenav {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px 0;
    background-color: white;
}
.sidenav a{
    text-transform: uppercase;
}
.sidenav a, .sidenav span {
    padding: 0 0 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav span{
    padding: 0 0 8px 10px;
    color: orange;
    font-size: 12px;
    font-style: italic;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
}

#main {
    display: flex;
    justify-content: flex-end;
    right: 0;
    transition: margin-right .5s;
}
.icon{
    cursor: pointer;
    font-size: 2.5em;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

#artistsDiv{
    display: none;
}