body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
}
.main-nav-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 999;
}
.nav-container{
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-list-container{
    background-color: white;
    min-height: 5vh;
    max-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-list-container ul {
    margin-top: 1em;
    display: flex;
    justify-content: center; 
}
li{
    list-style-type: none;
}
.nav-list-container ul li a{
    color: rgb(148, 148, 148);
    margin: 0 0.5em;
    padding: 0.5em 1em;
    font-size: 16px;
    text-decoration: none;
}
.artists-nav-list li a{
    color: rgb(148, 148, 148);
    padding: 0.5em 1em;
    font-size: 12px;
    margin-left: -2vw;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-list-container ul li a:hover, .artists-nav-list li a:hover{
    color: black;
}
.artists-nav-list-container{
    background-color: white;
    display: none;
    height: 95vh;
    width: 25vw;
    justify-content: center;
    margin-right: 1em;
    overflow-y: auto;
    scrollbar-width: none;
}
.artists-nav-list-container::-webkit-scrollbar {
    display: none;
}
.artists-nav-list {
    border-radius: 1em;
    display: block;
    flex-direction: column;
    width: auto;
    justify-content: center;
}
.artist{
    width: auto;
    padding: 1vh 0;
}
img, a:hover{
    cursor: pointer;
}
span{
    padding: 0 0 8px 10px;
    margin-left: -2vw;
    color: orange;
    font-size: 1vw;
    font-style: italic;
}
@media only screen and (max-width: 1024px)  {
    .main-nav-container{
        display: none !important;
    }
    
}